$typography-body:HelveticaNeueLT;
$typography-heading:HelveticaNeueLTB;
$primary:#EB095E;
$secondary:#1C4A5B;
$warning:#D18B05;
$success:#2ed573;
$danger:#ff4757;
$black:#272626;
$m-black:#707070;
$white:#ffff;
$body:#f8f8f8;